<ion-view class="pending-view">
    <div class="logo-mon-cartable-connecte"></div>
    <div class="pending-pane">

        <div class="cloud-1"></div>
        <div class="cloud-2"></div>
        <div class="cloud-3"></div>

        <div class="pending-animation">
            <div class="pending-class"></div>
            <div class="mdl mdl-progress mdl-js-progress mdl-progress__indeterminate pending-progress"></div>
            <div class="pending-student"></div>
        </div>

        <div class="pending-stop" ng-click="stop()"></div>
    </div>
</ion-view>