<ion-view class="main-view">

    <div class="menu-pane">
        <div class="menu-pane-inner">
            <div class="menu-item">
                <div class="menu-student-side">
                    <div class="toggle-webcam" ng-class="toggleWebcamCss" ng-click="toggleVideoStream()"></div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-chat" ng-click="toggleChat()">
                    <span class="chat-badge" ng-show="chatCount">
                        <span ng-bind="chatCount"></span>
                    </span>
                </div>
            </div>
			<!-- Start modif -->
			<div class="menu-item">
                <div class="menu-capture"  ng-click="showCapture()"></div>
            </div>
			<!-- End modif -->
            <div class="menu-item">
                <div class="menu-settings"></div>
            </div>
            <div class="menu-item">
                <div class="menu-stop" ng-click="stop()"></div>
            </div>
        </div>
    </div>

    <div class="main-pane">
        <div class="main-inner-pane">
            <div class="main-inner-icon"></div>
            <div class="main-inner-header" ng-bind="camLabel"></div>
            <div class="camera-controls" ng-show="showControls">
                <div class="up" ng-touch-start="ptzUp()" ng-touch-end="ptzStop()"></div>
                <div class="left" ng-touch-start="ptzLeft()" ng-touch-end="ptzStop()"></div>
                <div class="right" ng-touch-start="ptzRight()" ng-touch-end="ptzStop()"></div>
                <div class="down" ng-touch-start="ptzDown()" ng-touch-end="ptzStop()"></div>
            </div>
        </div>
    </div>

    <div ng-class="video1Css" ng-click="toggleVideo( 'video1' )">
        <div class="badge-video"></div>
        <video id="video1" autoplay muted></video>
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active video1 spinner"></div>
    </div>
    <div ng-class="video2Css" ng-click="toggleVideo( 'video2' )">
        <div class="badge-video"></div>
        <video id="video2" autoplay muted></video>
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active video2 spinner"></div>
    </div>
    <div class="audioTeacher"></div>
    <audio preload id="notification">
        <source src="/sound/text_message.mp3" type="audio/mpeg">
        <source src="/android_asset/www/sound/text_message.mp3" type="audio/mpeg">
    </audio>

    <ion-footer-bar keyboard-attach ng-class="chatPaneCss">
        <div class="chat-body-pane">
            <table>
                <tr>
                    <td colspan="2">
                        <ion-scroll delegate-handle="chat" class="chat-messages-list">
                            <div class="chat-clear" ng-repeat="message in chat.messages track by $index">
                                <div class="chat-message {{message.css}}">
                                    <div class="chat-message-content">
                                        <div ng-repeat="item in message.content track by $index">
                                            {{item}}
                                        </div>
                                    </div>
                                    <div class="chat-message-arrow {{message.css}}"></div>
                                </div>
                            </div>
                        </ion-scroll>
                    </td>
                </tr>
                <tr>
                    <td class="input-icon">
                        <div></div>
                    </td>
                    <td class="input-field">
                        <form ng-submit="sendMessage()">
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                    <input type="text" id="chatField" placeholder="Tapez votre message" ng-model="chat.field">
                                </label>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </ion-footer-bar>
	
	<script id="captureModal" type="text/ng-template">
        <ion-modal-view style="width: 60% /*580px*/; height: 530px; background-color: transparent;">
            <ion-content>
                <div class="modal-header">
                    <div class="modal-header-badge">
                        <div class="modal-header-icon badge-cam"></div>
						<p>Capture à afficher</p>
                    </div>
                </div>
                <div class="modal-body video-container">
                   <!-- <div style="width: 100%; height: 100%; background-color: #c0c0c0;" ng-show="showVideoOn"></div>
                    <div id="videoSettings"></div>-->
                    <div style="position:absolute; width: 100%; left: 0; bottom:20px; text-align: center">
						<h1>Veux-tu...</h1>
						<a class='button' style="background-color:#E6847A" ng-click='cancelCapture()'>Annuler</a>
						<a class='button' style="background-color:#7EC7DE" ng-click='editCapture()'>Modifier</a>
						<a class='button' style="background-color:#89A680" ng-click='saveCapture()'>Sauvegarder</a>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
	
	
	<script id="editCaptureModal" type="text/ng-template">
        <ion-modal-view style="width: 60% /*580px*/; height: 530px; background-color: transparent;">
            <ion-content scroll='false'>
                <div class="modal-header">
                    <div class="modal-header-badge">
                        <div class="modal-header-icon badge-cam"></div>
						<p>Edit capture</p>
						<canvas id='signatureCanvas' width='300' height='180' style='border: 1px solid black;'></canvas>
                    </div>
                </div>
                <div class="modal-body video-container">
                    <div style="position:absolute; width: 100%; left: 0; bottom:20px; text-align: center">
						<h1>OKOK</h1>
						<a class='button' style="background-color:#E6847A" ng-click='cancelEditCapture()'>Annuler</a>
						<a class='button' style="background-color:#7EC7DE" ng-click=''>Modifier</a>
						<a class='button' style="background-color:#89A680" ng-click=''>Sauvegarder</a>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
	

</ion-view>